// styles

link(rel='stylesheet' href='codemirror/lib/codemirror.css')
link(rel='stylesheet' href='styles/ui/cyEditor.css')

// template

div(id='cy-editor' class='widget-main')

  div(class='widget-top-panel uk-grid uk-text-large')

    div(class='panel-left uk-width-1-2')

      input(
        class='widget-title editable'
        ng-class="titleInputClass" 
        ng-click='onTitleClick()'
        ng-enter='onTitleEnter()'
        ng-model='title' 
        name='title'
        )

    div(class='panel-right uk-width-1-2')
      div(id='save' class='uk-button' ng-click="onSubmit()")
        i(class='uk-icon-save uk-text-bold uk-text-right')

  div(class='widget-content')
    div(class='editor')
      textarea(id='code')